<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	<link rel="stylesheet" href="/stylesheets/goods_list.css">
	<script src="/javascripts/jquery.min.js"></script>
</head>
<body>
	<h1>
		<span class="action-span">
			<a href="#">
				商品列表
			</a>
		</span>
		<span class="action-span1">
			<a href="#">
				ECSHOP 商品管理中心
			</a>
		</span>
		<span id="search_id" class="action-span1"> - 商品列表</span>
		<span class="help_sub">
			<a href="#">
				<img src="/images/jnsy.png" alt="">
			</a>
		</span>
	</h1>
	<div class="form-div">
		<!--------------------查找-------------------->
		<form action="/SLO/goods_list" name="searchForm" method="get" id="searchForm">
			<img src="/images/icon_search.gif" width="26" height="22" alt="">
			<select name="" id="" style="width:140px">
				<option value="">所有分类</option>
				<option value="">分类1</option>
				<option value="">分类2</option>
				<option value="">分类3</option>
				<option value="">分类4</option>
			</select>
			<select name="" id="" style="width:100px">
				<option value="">所有品牌</option>
				<option value="">品牌1</option>
				<option value="">品牌2</option>
				<option value="">品牌3</option>
			</select>
			<select name="" id="" style="width:60px">
				<option value="">全部</option>
				<option value="">全部1</option>
				<option value="">全部2</option>
				<option value="">全部3</option>
			</select>
			<select name="" id="" style="width:60px">
				<option value="">全部</option>
				<option value="">全部1</option>
				<option value="">全部2</option>
				<option value="">全部3</option>
			</select>
			关键字
			<input type="text" name="keyword" value="<%= keyword %>">
			<input type="submit" class="button" id="find_goods">
		</form>
	</div>
	<div class="list-div" id="listDiv">
		<table cellpadding="3" cellspacing="1" rules="all" >
			<tbody>
				<tr>
					<th>
						<input type="checkbox">
						<a href="javascript:;">编号</a>
						<img src="/images/sort_desc.gif">
					</th>
					<th>
						<a href="javascript:;">商品名称</a>
					</th>
					<th>
						<a href="javascript:;">货号</a>
					</th>
					<th>
						<a href="javascript:;">价格</a>
					</th>
					<th>
						<a href="javascript:;">上架</a>
					</th>
					<th>
						<a href="javascript:;">精品</a>
					</th>
					<th>
						<a href="javascript:;">新品</a>
					</th>
					<th>
						<a href="javascript:;">热销</a>
					</th>
					<th>
						<a href="javascript:;">推荐排序</a>
					</th>
					<th>
						<a href="javascript:;">库存</a>
					</th>
					<th>
						<a href="javascript:;">虚拟销量</a>
					</th>
					<th>
						<a href="javascript:;">操作</a>
					</th>
				</tr>
				<!-- --------------数据库添加------------ -->
				<% for(var i=0;i<list.length;i++){ %>
				<tr class="shopContent" >
					<td><input type="checkbox" value=""><%= i+1 %></td>
					<td><%= list[i].goods_name %></td>
					<td><%= list[i].goods_sn %></td>
					<td><%= list[i].shop_price %></td>
					<td><img src="/images/yes.gif" alt=""></td>
					<td><img src="/images/yes.gif" alt=""></td>
					<td><img src="/images/yes.gif" alt=""></td>
					<td><img src="/images/yes.gif" alt=""></td>
					<td>推荐的排序</td>
					<td>999</td>
					<td>0</td>
					<td>
						<a href="javaScript:;" alt="商品查看" class="shop_details" ><img src="/images/icon_view.gif" alt=""></a>
						<a href="javaScript:;" alt="商品编辑" class="shop_redact" ><img src="/images/icon_edit.gif" alt=""></a>
						<a href="javaScript:;" alt="商品复制" class="shop_copy" ><img src="/images/icon_copy.gif" alt=""></a>
						<a href="javaScript:;" onclick="Shop_remove('<%= list[i]._id %>')" alt="商品删除" class="shop_remove" ><img src="/images/icon_trash.gif" alt=""></a>
					</td>                                            
				</tr>
				<% } %>
				<!------------------------------------------------>
			</tbody>
		</table>
	</div>
	<div id="page-table">
		<div id="turn-page">
			总记
			<span id="totalRecords"><%= PageMessage.num %></span>
			个记录分别为
			<span id="totalPages"><%= PageMessage.pageNum %></span>
			页当前为第
			<span id="pageCurrent"><%= pageNo %></span>
			页,每页
			<input type="text" size="3" id="pageSize" value="<%= count %>" >
			<span id="page-link">
				<a href="/SLO/goods_list?pageNo=1&count=<%= count %>&keyword=<%= keyword %>" id="prevPage" id="firstPage" >第一页</a>
				<a href="/SLO/goods_list?pageNo=<%= pageNo-1 %>&count=<%= count %>&keyword=<%= keyword %>" id="prevPage" >上一页</a>
				<a href="/SLO/goods_list?pageNo=<%= pageNo+1 %>&count=<%= count %>&keyword=<%= keyword %>" id="nextPage" >下一页</a>
				<a href="/SLO/goods_list?pageNo=<%= PageMessage.pageNum %>&count=<%= count %>&keyword=<%= keyword %>" >最末页</a>
				<select name="" id="gotoPage">
					<option value="<%= pageNo %>"><%= pageNo %></option>
					<% for(var i=0;i<PageMessage.pageNum;i++ ){ %>
						<option value="<%= i+1 %>"><%= i+1 %></option>
					<% } %>
				</select>
			</span>
		</div>
	</div>
	<div>
		<select name="" id="">
			<option value="">请选择...</option>
			<option value="">衣服类</option>
			<option value="">裤子类</option>
			<option value="">食品类</option>
		</select>
		<input type="button" value="确定" class="button">
	</div>
	<div id="footer">
		共执行 9 个查询，用时 0.024008 秒，Gzip 已禁用，内存占用 3.593 MB
		<br>
		版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
		<br>
	</div>
</body>
</html>
<script>
	//new NumMessage().init();
	function Shop_remove(gid){
		if( confirm("确认删除吗?" ) ){
			$.ajax({
				url:"/SLO/shop_remove",
				type:"get",
				data:{
					gid:gid
				},
				success : function(res){
					console.log(res);
					if(res.status == 1){
						location.reload(true)
					}
				}
			})
		}
	}
	$("#gotoPage").change(function(){
		location.href = "/SLO/goods_list?count="+$("#pageSize").val()+"&keyword="+$("input[name=keyword]").val()+"&pageNo="+$("#gotoPage").val();
	})
	$("#pageSize").blur(function(){
		location.href = "/SLO/goods_list?count="+$("#pageSize").val()+"&keyword="+$("input[name=keyword]").val()
	})
	// $("#pageSize").blur(function(){
	// 	$.ajax({
	// 		url : "/SLO/goods_list",
	// 		type : "get",
	// 		data : {
	// 			count : $("#pageSize").val()
	// 		},
	// 		success:function(res){
	// 			console.log(res)
	// 		}
	// 	})
	// });
	function NumMessage(){
		this.currentPage = 1;
		this.init = function(){
			this.num();          //一共有多少条数据
			this.pageNum();      //一共有多少页
			this.target();       //更换显示
			this.firstPage();    //切换到第一页 
			this.prevPage();     //上一页
			this.nextPage();     //下一页
			this.lastPage();     //最末页
			this.pageSize();     //改变每页显示个数
			this.pageCurrent();  //当前页码
		};
		this.pageCurrent = function(){
			$("#pageCurrent").html(this.currentPage) 
		}
		
		this.pageSize = function(){
			$("#pageSize").blur(function(){
				this.currentPage = 1;
				this.pageNum()
				this.target();
			}.bind(this))
		};
		this.num = function(){
			$("#totalRecords").html( $("#listDiv tr").size()-1 );
			return $("#listDiv tr").size()-1;
		};
		this.pageNum = function(){
			var num = this.num()
			$("#totalPages").html( Math.ceil( num / $("#pageSize").val() ) )
			return $("#totalPages").html();
		};
		this.target = function(){
			var num = this.currentPage;
			var padeSize = $("#pageSize").val();
			$(".shopContent").css({"display":"none"});
			this.pageCurrent();
			for( var i = 0 ; i < padeSize ; i++ ){
				var gather = (num-1)*padeSize+i;
				if($(".shopContent").eq(gather)){
					$(".shopContent").eq(gather).css({"display":"table-row"})
				}
			}
		};
		this.nextPage = function(){
			$("#nextPage").click(function(e){
				e.stopPropagation?e.stopPropagation():e.cancelBubble = true;
				if( this.currentPage == this.pageNum() ){
					this.currentPage = this.pageNum()
				}else{
					this.currentPage = this.currentPage+1;
					this.target();
				}
			}.bind(this))
		}
		this.firstPage = function(){
			$("#firstPage").click(function(){
				this.currentPage = 1;
				this.target();
			}.bind(this))
		};
		this.lastPage = function(){
			$("#lastPage").click(function(){
				this.currentPage = this.pageNum();
				this.target();
			}.bind(this))
		};
		this.prevPage = function(){
			$("#prevPage").click(function(){
				if( this.currentPage == 1 ){
					this.currentPage = 1;
				}else{
					this.currentPage = this.currentPage-1;
					this.target();
				}
			}.bind(this))
		};
	}
</script>